<p>prenotazioni works!</p>

<div class="container">

  <form #fm ="ngForm">
    <input hidden #id="ngModel"  [(ngModel)]="evento.id" class="form-control" name="idev" id="idev">
  <!--  messaggio operazione conclusa correttamente -->
  <!--
  <div *ngIf="successmsg"   class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{successmsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>  -->


  <div class="container-fluid">

    presentiGiornate-----------: {{presentiGiornate}}

    <div class="row" *ngIf="presentiGiornate === true">
      merdazza  wgiornate:  {{wgiornate | json}}
      <div class="dropdown col-sm-8">
        <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedDay" ngModel name="giorno" id="giorno" class="form-select" required (change)="selectedGiornata($event.target.value)" aria-label="Default select example">
          <option selected value="9999"  >Seleziona la giornata</option>
          <option *ngFor="let giorno of wgiornate" [value]="giorno.id"  class="form-control"  >{{giorno.dadadelGiorno}}-----  {{giorno}}</option>

        </select>
      </div>
      <div class="invalid-feedback">effettuare la scelta dello stato</div>
    </div>
    <!--   fine test -->







    <!-- riga evento ok -->
    <div class="row">
      <label for="descrizione" class="col-sm-2 col-form-label">Evento</label>
      <div class=" col-md-6">
        <input disabled #descrizione="ngModel"  [(ngModel)]="evento.descrizione" class="form-control" name="descrizione" id="descrizione"   style="text-transform : uppercase">
      </div>
      <div class=" col-md-2">
  <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
          <div>
            <input disabled #d_stato_evento="ngModel"  [(ngModel)]="evento.d_stato_evento" class="form-control" name="d_stato_evento" id="d_stato_evento" [style.color]="evento.stato == 2 ? 'red' : 'white'"  [style.background-color]="evento.stato == 2 ? 'yellow' : 'red'">
          </div>
        </div>
    </div>
    <br>
<!-- riga localita ok -->
    <div class="row">
      <label for="localita" class="col-sm-2 col-form-label">Localita</label>
      <div class=" col-md-6">
        <input disabled #localita="ngModel"  [(ngModel)]="evento.localita" class="form-control" name="localita" id="localita"   style="text-transform : uppercase">
      </div>
      <div class=" col-md-2">
    <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
          <div>
            <input  disabled [(ngModel)]="evento.data" [ngModel]="evento.data | date:'dd/MM/yyyy'" #data="ngModel" class="form-control"  name="data" id="data">
          </div>
        </div>
    </div>
    <br>


      <div class="row" >  <!--  *ngIf="level !== 0" -->
         <div class="col-md-1">Prenotazioni</div>
        <div class="col-md-11">
          <div class="form-group row">
            <div class="col-sm-7" >
              <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
                <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
              </div>
            </div>

        <div *ngIf="enabledSelectday === true">
          giornate: {{wgiornate | json}}
        </div>

  <!--   -->

            <div class="col-md-3"  *ngIf="enabledSelectday === true" > <!-- *ngIf="level !== 0" -->
              <div class="dropdown">
                <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedDay" ngModel name="giornata" id="giornata" class="form-select" required (change)="selectedGiornata($event.target.value)" aria-label="Default select example">
                  <option selected value="999"  >Seleziona la Giornata</option>
                  <option *ngFor="let giornata of wgiornate" [value]="giornata.id"  class="form-control"  >{{giornata.datadelGiorno | date:'dd/MM/yyyy' }}</option>  <!--  variante rispetto al tradizionale -- il campo di ricerca è uguale alla data visualizzata -->

                </select>
              </div>
            </div>






            <div *ngIf="trovatoRec"  class="col col-md-2 ">
                    <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
            </div>
          </div>
        </div>
      </div>
      <br>





      <div class="row">
        <div class="col-md-1">
         Ricerca
        </div>
        <div class="col-md-8">
          <div class="form-group row" >
            <div class="col-sm-1">
              <div class="alignicon">
                <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
              </div>
            </div>
            <div class="col-sm-7 ">
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
              </div>
            </div>
          </div>
        </div>

      </div>
  <br>
      <!--
      <div class="row" *ngIf="level === 0">
        <div class="col-md-8">
          Prenotazioni del cliente
        </div>
        <div class="col-md-4">
          <div *ngIf="trovatoRec"  class="col col-md-3 ">
            <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
          </div>
        </div>
      </div>  -->




   </div>




<!-- {{prenotazioni | json }} -->
    <table class="table table-striped table-hover"  *ngIf="level !== 0" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cognome</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefono</th>
          <th scope="col">Email</th>
          <th scope="col">Data</th>
          <th scope="col">Persone</th>


          <th  colspan="2" style="text-align: center ">gestione</th>
        </tr>
      </thead>
      <tbody>

<!--{{prenotazione | json}} -->         <!-- [prenotazione1-level] = level -->

        <tr app-prenotazione1 *ngFor ="let prenotazione of prenotazioni | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
          [prenotazione1-prog] = i+1
          [prenotazione1-data] = "prenotazione"
          [prenotazione1-level] = level
          (onDeletedPrenotazione) ="onDeletedPrenotazione($event)"
          >

        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover"  *ngIf="level === 0" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cognome</th>
          <th scope="col">Nome</th>
          <th scope="col">Data</th>
          <th scope="col">Persone</th>


          <th  colspan="2" style="text-align: center ">gestione</th>
        </tr>
      </thead>
      <tbody>

<!--{{prenotazione | json}} -->         <!-- [prenotazione1-level] = level -->

        <tr app-prenotazione1 *ngFor ="let prenotazione of prenotazioni | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
          [prenotazione1-prog] = i+1
          [prenotazione1-data] = "prenotazione"
          [prenotazione1-level] = level
          (onDeletedPrenotazione) ="onDeletedPrenotazione($event)"
          >

        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <div class="row col-md-12">
      <!-- messaggi -->
      <div *ngIf="!alertSuccess && isVisible" class="alert alert-danger" role="alert">
        <!--   <h4 class="alert-heading">Errore in elenco</h4>    -->
           <p>{{Message}}</p>
           <hr>
         </div>
         <div *ngIf="alertSuccess && isVisible" class="alert alert-success" role="alert">
         <!--   <h4 class="alert-heading">Modifca Password</h4>    -->
           <p>{{Message}}</p>
         </div>
    </div>



</form>

</div>
<notifier-container></notifier-container>

