<p>prenotazioni works!</p>

<div class="container">

  <form #fm ="ngForm">

    <input hidden #id="ngModel"  [(ngModel)]="evento.id" class="form-control" name="idev" id="idev">
    <!--  riga evento -->
    <div class="row">
      <label for="descrizione" class="col-sm-2 col-form-label">Evento</label>
      <div class=" col-md-6">
        <input disabled #descrizione="ngModel"  [(ngModel)]="evento.descrizione" class="form-control" name="descrizione" id="descrizione"   style="text-transform : uppercase">
      </div>
      <div class=" col-md-2">
  <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
          <div>
            <input disabled #d_stato_evento="ngModel"  [(ngModel)]="evento.d_stato_evento" class="form-control" name="d_stato_evento" id="d_stato_evento" [style.color]="evento.stato == 2 ? 'red' : 'white'"  [style.background-color]="evento.stato == 2 ? 'yellow' : 'red'">
          </div>
      </div>
    </div>
    <br>
    <!-- riga localita -->
    <div class="row">
      <label for="localita" class="col-sm-2 col-form-label">Localita</label>
      <div class=" col-md-6">
        <input disabled #localita="ngModel"  [(ngModel)]="evento.localita" class="form-control" name="localita" id="localita"   style="text-transform : uppercase">
      </div>
      <div class=" col-md-2">
  <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
          <div>
             <input  disabled [(ngModel)]="evento.data" [ngModel]="evento.data | date:'dd/MM/yyyy'" #data="ngModel" class="form-control"  name="data" id="data">
          </div>
      </div>
    </div>
     <br>
    <!-- riga Prenotazioni -->

    <div class="row borde3" >  <!--  *ngIf="level !== 0" -->
      <div class="col-md-1">Prenotazioni</div>
      <div class="col-sm-6" >
        <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
          <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
        </div>
      </div>
      <div class="col-md-3"  *ngIf="enabledSelectday === true" > <!-- *ngIf="level !== 0" -->
        <div class="dropdown">
          <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedDay" ngModel name="giornata" id="giornata" class="form-select" required (change)="selectedGiornata($event.target.value)" aria-label="Default select example">
            <option selected value="999"  >Seleziona la Giornata</option>
            <option *ngFor="let giornata of wgiornate" [value]="giornata.id"  class="form-control"  >{{giornata.datadelGiorno | date:'dd/MM/yyyy' }}</option>  <!--  variante rispetto al tradizionale -- il campo di ricerca è uguale alla data visualizzata -->

          </select>
        </div>
      </div>
      <div *ngIf="trovatoRec"  class="col col-md-2 ">
        <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
      </div>
    </div>
    <br>



  </form>

</div>
<notifier-container></notifier-container>

