
<td>{{i}}</td>
<td>{{prenotazione.cognome}}</td>
<td>{{prenotazione.nome}}</td>
<td>{{prenotazione.email}}</td>
<td>{{prenotazione.telefono}}</td>
<td>{{prenotazione.persone}}</td>
<td [ngClass]="{'daconfermare': prenotazione.idstato == 0, 'confermata' :  prenotazione.idstato == 1  }">{{statoPrenotazione}}</td>








<!--  versione 2 -->
<!--

<td>
<button class="btn btn-sm btn-danger" (click)="modifica(manif)">Update
<fa-icon [icon]="faUserEdit"  fixed="true"></fa-icon>
</button>
</td>
<td >
<button class="btn btn-sm btn-warning" (click)="viewgiornate(manif)">giornate
<fa-icon [icon]="faList"  fixed="true"></fa-icon>
</button>
</td>  -->





