.emesso {
  background-color: aquamarine;
}
.daemettere  {
  background-color: white;
}

.attivo {
  color: green;
  background-color: yellow;
}
.esaurito {
  color: white;
  background-color: red;
}
.bloccato {
  color: red;
  background-color: yellow;
}
.borde {
  border: 3px solid red;
}
.borde1 {
  border: 3px solid blue;
}
