<div class="container">
  <!--<caption class="title  col-sm-12"><strong>{{title}}</strong></caption> -->
  <label  class="col-sm-12 col-form-label" style="text-align: center; text-transform: uppercase; font-weight: bold; color: red" >{{title}}</label><br>

  <div class="row col-md-12">    <!--  <div class="row justify-content-md-center"> -->
     <div >
      <form #fm ="ngForm">
        <input hidden #id="ngModel"  [(ngModel)]="eventoposto.id" class="form-control" name="id" id="id">
<!--  Evento  -->

      <div class="container" id="bigliettoPrint">

              <div class="row">
                <label for="descrizione" class="col-sm-2 col-form-label">Evento</label>
                <div class=" col-md-6">
                  <input disabled #descrizione="ngModel"  [(ngModel)]="evento.descrizione" class="form-control" name="descrizione" id="descrizione"   style="text-transform : uppercase">
                </div>
                <div class=" col-md-2">
            <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
                    <div>
                      <input disabled #d_stato_evento="ngModel"  [(ngModel)]="evento.d_stato_evento" class="form-control" name="d_stato_evento" id="d_stato_evento" [style.color]="evento.stato == 2 ? 'red' : 'white'"  [style.background-color]="evento.stato == 2 ? 'yellow' : 'red'">
                    </div>
                  </div>
              </div>
              <br>
              <div class="row">
                <label for="localita" class="col-sm-2 col-form-label">Localita</label>
                <div class=" col-md-6">
                  <input disabled #localita="ngModel"  [(ngModel)]="evento.localita" class="form-control" name="localita" id="localita"   style="text-transform : uppercase">
                </div>
                <div class=" col-md-2">
            <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
                    <div>
                      <input  disabled [(ngModel)]="evento.data" [ngModel]="evento.data | date:'dd/MM/yyyy'" #data="ngModel" class="form-control"  name="data" id="data">
                    </div>
                  </div>
              </div>
              <hr>
              <div class="row">
                <label for="cognome"  class="col-sm-2 col-form-label">Utente</label>
                <div class="col-sm-4">
                  <input type="text" disabled class="form-control lowertxt" id="cognome" [(ngModel)]="eventoposto.cognome" #cognome="ngModel" name="cognome" ngModel  style="text-transform : uppercase" >
                </div>
                <div class="col-sm-4">
                  <input type="text" disabled class="form-control lowertxt" id="nome" [(ngModel)]="eventoposto.nome" #nome="ngModel" name="nome" ngModel  style="text-transform : uppercase" >
                </div>
              </div>
              <hr>
              <div class="row">
                <label for="settore"  class="col-sm-2 col-form-label">Posto</label>
                <div class="col-sm-3">
                  <input type="text" disabled class="form-control lowertxt" id="settore" [(ngModel)]="eventoSettore.dsettore" #settore="ngModel" name="settore" ngModel  style="text-transform : uppercase" >
                </div>
                <div class="col-sm-3">
                  <input type="text" disabled class="form-control lowertxt" id="fila" [(ngModel)]="eventofila.dfila" #nome="ngModel" name="fila" ngModel  style="text-transform : uppercase" >
                </div>
                <label for="posto"  class="col-sm-1 col-form-label">Posto</label>
                <div class="col-sm-1">
                  <input type="text" disabled class="form-control" id="posto" [(ngModel)]="eventoposto.idPosto" #posto="ngModel" name="posto" ngModel>
                </div>
              </div>
              <br>
              <div class="row">
                <label for="tipob"  class="col-sm-2 col-form-label">Tipo Biglietto</label>
                <div class="col-sm-2">
                  <input type="text" disabled class="form-control lowertxt" id="tipob" [(ngModel)]="tipobiglietto.d_tipo" #tipob="ngModel" name="tipob" ngModel  style="text-transform : uppercase" >
                </div>
                <label for="serie"  class="col-sm-1 col-form-label">serie</label>
                <div class="col-sm-1">
                  <input type="text" disabled class="form-control" id="serie" [(ngModel)]="tipobiglietto.serie" #serie="ngModel" name="serie" ngModel >
                </div>
                <label for="numero"  class="col-sm-1 col-form-label">numero</label>
                <div class="col-sm-1" *ngIf="eventoposto.stato == 1">
                  <input type="text" disabled class="form-control" id="numero" [(ngModel)]="biglietto.numero" #numero="ngModel" name="numero" ngModel >
                </div>
                <label for="impo"  class="col-sm-1 col-form-label">Importo</label>
                <div class="col-sm-1">
                  <input type="text" disabled class="form-control" id="impo" [(ngModel)]="tipobiglietto.importo" #impo="ngModel" name="impo" ngModel >
                </div>
                <label  class="col-sm-2 col-form-label" *ngIf="eventoposto.stato == 1" style="background-color: yellow; color: black; text-align: center; font-weight: bold;">Emesso</label>
              </div>
          <br>
    </div>
          <div class="footer" >
          <div class="row col-sm-10 offset-2">

            <div class="col-sm-3" >
              <button  class="btn btn-info btn-md "  (click)="goback()"> Ritorna
                  <fa-icon [icon]="faReply"  fixed="true"></fa-icon>
              </button>
            </div>
            <div class="col-sm-3" >
              <button  class="btn btn-primary btn-md "  (click)="printBiglietto()"> Stampa
                  <fa-icon [icon]="faPrint"  fixed="true"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
   </div>
</div>
<br>
<div class="row col-md-12">

  <!-- messaggi -->
    <div *ngIf="!alertSuccess && isVisible === true" class="alert alert-danger" role="alert">
      <p>{{Message}}</p><br>
     </div>
     <div *ngIf="alertSuccess === true && isVisible === true" class="alert alert-success" role="alert">
        <p>{{Message}}</p><br>

     </div>
</div>



