<p>home works!</p>


<div class="container" >
  <div class="form-control borde textCentrato" style="background-color: yellow; color: black;">
    <caption class="title  col-sm-12">{{title}}</caption>
  </div>
  <br>
  <div class="container">
      <div class="row">
        <div  style="text-align: center;">
          <img class="ridotta" src="assets/images/logoBGquadratolite.jpg" alt="Girl in a jacket" width="500" height="240">
        </div>
      </div>
  </div>
 <br>
 <div class="row">
  <div class="col-md-5">
    <!-- volutamente vuoto -->
  </div>
  <div class="col md-5">
    <div class="form-group row">
      <div class=" col-md-2">
        <a  routerLink="/login" class="btn btn-primary float-right">login</a>
      </div>
      <div class=" col-md-2">
        <a routerLink="/signup" class="btn btn-info float-right">Sign Up</a>
      </div>
      <div class=" col-md-2">
        <a routerLink="/info" class="btn btn-success float-right">Info</a>
      </div>
    </div>
  </div>
</div>
<br>


</div>







