.borde {
  border: 3px solid violet;
}

.header {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.card-footer {
  text-align: center;
}

.noaMenu {
  color: red;
  font-weight: bold;
}

.siaMenu {
  color: green;
  font-weight: bold;
}
