
<div class="container">
  <!--<caption class="title  col-sm-12"><strong>{{title}}</strong></caption> -->

  <label  class="col-sm-12 col-form-label" style="text-align: center; text-transform: uppercase; font-weight: bold; color: red" >{{title}}</label><br>
  <br>
  <div class="row col-md-12">    <!--  <div class="row justify-content-md-center"> -->
     <div >
      <form #fm ="ngForm">
        <input Hidden #id="ngModel"  [(ngModel)]="manif.id" class="form-control" name="id" id="id">
        <input Hidden #id="ngModel"  [(ngModel)]="evento.id" class="form-control" name="idev" id="idev">
        <div class="row">
            <label for="descManif" class="col-sm-2 col-form-label">Manifestazione</label>
            <div class=" col-md-6">
              <input disabled #descManif="ngModel"  [(ngModel)]="manif.descManif" class="form-control" name="descManif" id="descManif"   style="text-transform : uppercase">
            </div>

          <div class=" col-md-2">
        <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
            <div>
              <input disabled #d_stato_manifestazione="ngModel"  [(ngModel)]="manif.d_stato_manifestazione" class="form-control" name="d_stato_manifestazione" id="d_stato_manifestazione" [style.color]="manif.stato == 2 ? 'red' : 'white'"  [style.background-color]="manif.stato == 2 ? 'yellow' : 'red'">
            </div>
          </div>
        </div>

        <br>
        <!--  riga date inizio e finei  -->
        <div class="row">
          <label for="dtInizio" class="col-sm-2 col-form-label">Data Inizio</label>
          <div class=" col-md-2">
            <input  disabled [(ngModel)]="manif.dtInizio" [ngModel]="manif.dtInizio | date:'dd/MM/yyyy'" #dtInizio="ngModel" class="form-control"  name="dtInizio" id="dtInizio" placeholder="sel. data Inizio">
          </div>
          <label for="dtFine" class="col-sm-2 col-form-label">Data Fine</label>
          <div class=" col-md-2">
            <input disabled [(ngModel)]="manif.dtFine"  [ngModel]="manif.dtFine | date:'dd/MM/yyyy'" #dtFine="ngModel" class="form-control"  name="dtFine" id="dtFine"  placeholder="sel. data Fine" >
          </div>
        </div>
        <hr>
        <div class="row">
          <label for="descrizione" class="col-sm-2 col-form-label">Evento</label>
          <div class=" col-md-6">
            <input disabled #descrizione="ngModel"  [(ngModel)]="evento.descrizione" class="form-control" name="descrizione" id="descrizione"   style="text-transform : uppercase">
          </div>
          <div class=" col-md-2">
      <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
              <div>
                <input disabled #d_stato_evento="ngModel"  [(ngModel)]="evento.d_stato_evento" class="form-control" name="d_stato_evento" id="d_stato_evento" [style.color]="evento.stato == 2 ? 'red' : 'white'"  [style.background-color]="evento.stato == 2 ? 'yellow' : 'red'">
              </div>
            </div>
        </div>
        <br>
      <div class="row">
        <label for="localita" class="col-sm-2 col-form-label">Localita</label>
        <div class=" col-md-6">
          <input disabled #localita="ngModel"  [(ngModel)]="evento.localita" class="form-control" name="localita" id="localita"   style="text-transform : uppercase">
        </div>
        <div class=" col-md-2">
    <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
            <div>
               <input  disabled [(ngModel)]="evento.data" [ngModel]="evento.data | date:'dd/MM/yyyy'" #data="ngModel" class="form-control"  name="data" id="data">
            </div>
          </div>
      </div>
      <br>
      <!-- cassa -->
      <div class="mb-3 row">
        <label class="col-sm-1 col-form-label"><strong>Cassa:</strong> </label>
        <label for="contanti" class="col-sm-1 col-form-label">Contanti </label>
        <div class="col-sm-1">
          <input type="text" disabled class="form-control" id="contanti" [(ngModel)]="cassa.contanti" #contanti="ngModel" name="contanti" ngModel >
        </div>
        <label for="pos"  class="col-sm-1 col-form-label">Pos</label>
        <div class="col-sm-1">
          <input type="text" disabled class="form-control" id="pos" [(ngModel)]="cassa.pos" #pos="ngModel" name="pos" ngModel >
        </div>
        <label for="carte"  class="col-form-label" style="width : 135px" >carte Credito</label>
        <div class="col-sm-1">
          <input type="text" disabled class="form-control" id="carte" [(ngModel)]="cassa.carteCredito" #scarte="ngModel" name="carte" ngModel >
        </div>    <label for="serie"  class="col-sm-1 col-form-label">Bonifici</label>
        <div class="col-sm-1">
          <input type="text" disabled class="form-control" id="boniifici" [(ngModel)]="cassa.bonifici" #bonifici="ngModel" name="bonifici" ngModel >
        </div>
      </div>
      <hr>
      <br>
  <!-- riga per filtro di ricerca -->
<!--
  <div class="container-fluid">
    <div class="row borde">
      <div class="col-md-4 borde1">
        <div class="form-group row">
          <div class="col-sm-8">
            <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
              <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-5 borde2" *ngIf="charRic === 'S'">
        <div class="row">
          <div class="col-md-2">
            <label for="idcassa"  class="col-sm-3 control-label ">Giornate</label>
          </div>
          <div  class="col-sm-6 was-validated ">
            <select [(ngModel)]="selectedday" ngModel name="idcassa" id="idcassa" class="custom-select" required (change)="onSelectionChangeDay($event.target.value)">
              <option value="99" disabled >Seleziona la Cassa</option>
              <option *ngFor="let cassa of casse" [value]="cassa.id"  class="form-control"  >{{cassa.datacassa }}</option>
            </select>
            <div class="invalid-feedback">effettuare la scelta della Cassa</div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <div class="col-sm-8">
                <div class="form-check form-check-inline" *ngFor="let option2 of options2; let id2x = index">
                  <input type="radio" name="radiogroup" [checked]="id2x === 0" [value]="option2" (change)="onSelectionChange2(option2)">&nbsp; {{option2}}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div  class="col col-md-2 " *ngIf="trovatoRec === true" >
        <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
      </div>
    </div>
 </div>
 <br> -->
 <!--  test di posizionamento -->

 charRic: {{charRic}}
 <div class="container-fluid">
  <div class="row">
    <div  style="width: 280px;">
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
            <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"  *ngIf="charRic === 'S'">
      <div class="row">
        <div class="col-md-3">
          <label for="idcassa"  class="control-label">Giornate</label>
        </div>
        <div  class="col-sm-9 was-validated">
          <select [(ngModel)]="selectedday" ngModel name="idcassa" id="idcassa" class="custom-select" required (change)="onSelectionChangeDay($event.target.value)">
            <option value="99" disabled >Seleziona la Cassa</option>
            <option *ngFor="let cassa of casse" [value]="cassa.id"  class="form-control"  >{{cassa.datacassa }}</option>
          </select>
          <div class="invalid-feedback">effettuare la scelta della Cassa</div>
        </div>
      </div>
    </div>
    <div  style="width: 400px;"  *ngIf="charRic === 'S'">  <!--col-md-4  -->
      <div class="row">
          <div class="col-sm-12">
            <div class="form-check form-check-inline" *ngFor="let option2 of options2; let id2x = index">
              <input type="radio" name="radiogroup2"  [value]="option2" (change)="onSelectionChange2(option2)">&nbsp; {{option2}}  <!--  non imposto checked  [checked]="id2x === 0"-->
            </div>
          </div>
      </div>
    </div>
    <div  style="width: 130px;">
      <div  class="col col-md-12 " *ngIf="trovatoRec === true" >
        <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
      </div>
    </div>
  </div>




 </div>
  <br>
<!-- options1 -->
<div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <div class="col-sm-1">
          <div class="alignicon">
            <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
          </div>
        </div>
        <div class="col-sm-11 ">
          <div class="search-hero">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
          </div>
        </div>
      </div>
    </div>
    <div style="width: 680px;" >
      <div class="row">
        <div class="col-sm-12">
          <div class="form-check form-check-inline" *ngFor="let option1 of options1; let id1x = index">
            <input type="radio" name="radiogroup1" [checked]="id1x === 0" [value]="option1" (change)="onSelectionChange1(option1)">&nbsp; {{option1}}
          </div>
        </div>
    </div>
    </div>
    <div  style="width: 155px;">
      <div class="row">
        <div class="col-md-3">
          <button  class="btn btn-info"  (click)="EseguiRicerca(evento.id, search_mov, search_provenienza, search_day)" style="width: 150px; text-align: center;" *ngIf="search_mov !== 'XX' || search_provenienza !== 'XX' || search_day !== 'XX'" > Ricerca
            <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
          </button>
        </div>
       </div>
     </div>
</div>
<br>
<!--
  <div class="row borde">
    <div class="col-md-4 borde1">
      <div class="form-group row">
        <div class="col-sm-1">
          <div class="alignicon">
            <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
          </div>
        </div>
        <div class="col-sm-11 ">
          <div class="search-hero">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
          </div>
        </div>
      </div>
    </div>
    <div  class="borde" style="width: 680px;">
      <div class="row">
          <div class="col-sm-12 borde2">
            <div class="form-check form-check-inline" *ngFor="let option1 of options1; let id1x = index">
              <input type="radio" name="radiogroup" [checked]="id1x === 0" [value]="option1" (change)="onSelectionChange1(option1)">&nbsp; {{option1}}
            </div>
          </div>
      </div>
    </div>
      <div class="class-md-1">
        <button  class="btn btn-info btn-md "  (click)="EseguiRicerca()"> Ricerca
          <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
        </button>
      </div>
  </div>
    <br>  -->
<!-- elenco dei movimenti di cassa -->



<div class="row" *ngIf="cassaselected ===  true">
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-7">
        <label class="col-sm-2 col-form-label" style="color: red;">Contanti</label>&nbsp;
      </div>
      <div class="col-md-5">

        <label class="col-sm-12" style="color:blue; background-color: yellow;  text-align: center; vertical-align: middle;"><strong>{{tcontanti | currency:'EUR'}}</strong></label>
      </div>
    </div>

  </div>
  <div class="col-md-9" *ngIf="cassaselected ===  true  && nRec > 0">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" style="text-align: center;">Data</th>
              <th scope="col" style=" width: 180px; text-align: center;">Causale</th>
              <th scope="col" style="text-align: center;">n.Biglietto</th>
              <th scope="col" style="text-align: center;">Importo</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor ="let cassamov of cassamovs  | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i = index " [ngSwitch]="cassamov.causale">
              <td >{{i + 1}}</td>
              <td style="text-align: center;">{{cassamov.datamov}}</td>
              <td  *ngIf="cassamov.causale ==='CO'" style="color: white; background-color: red;     font-weight: bold;  width: 180px;">{{causaleCO}}</td>
              <td  *ngIf="cassamov.causale ==='PO'" style="color:  violet; background-color: GREEN; width: 180px;">{{causalePO}}</td>
              <td  *ngIf="cassamov.causale ==='CR'" style="color: yellow; background-color: black; width: 180px;">{{causaleCR}}</td>
              <td  *ngIf="cassamov.causale ==='BO'" style="color: green; background-color: yellow; width: 180px;">{{causaleBO}}</td>
              <td>{{cassamov.specifica}}</td>
              <td style="text-align: right;">{{cassamov.importo | currency:'EUR'}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

    </div>
  </div>
  <div class="col-md-9" *ngIf="cassaselected ===  true  && nRec == 0">
    <label class="col-sm-10 col-form-label" style="color: red; background-color: yellow; text-align: center;"><strong>{{Message}}</strong> </label>  <!--Nessun movimento per la giornata Selezionata !!-->
  </div>
</div>
<br>
<div class="row col-md-12">

  <!-- messaggi -->
    <div *ngIf="!alertSuccess && isVisible === true" class="alert alert-danger" role="alert">
      <p>{{Message}}</p><br>
     <!-- <p>{{Message1}}</p>  -->
     </div>

     <div *ngIf="alertSuccess === true && isVisible === true" class="alert alert-success" role="alert">
        <p>{{Message}}</p><br>
        <!--  <p>{{Message1}}</p>  -->
     </div>
</div>
</form>
    </div>
  </div>
</div>

