

<div class="container">
  <label  class="col-sm-12 col-form-label" style="text-align: center; text-transform: uppercase; font-weight: bold; color: red" >{{title}}</label><br>

  <div class="row col-md-12">    <!--  <div class="row justify-content-md-center"> -->
     <div >

      <form #fm ="ngForm"  method="POST">

        <input hidden #id="ngModel"  [(ngModel)]="biglietto.id" class="form-control" name="id" id="id">


        <!--  cassa  -->
<!--    rifare

<div class="row">
  <div class="col-md-2">Cassa del:</div>
  <div class="col-md-1">
    <label  class="col-sm-2 col-form-label">{{cassa.datacassa}}</label>
  </div>
  <div class="col-md-1" *ngIf="presentaCassa === false">
    <button  class="btn btn-info btn-md "  (click)="openCassa()"> Apri
      <fa-icon [icon]="faUserEdit"  fixed="true"></fa-icon>
    </button>
  </div>
  <div class="col-md-1" *ngIf="presentaCassa === true">
    <button  class="btn btn-info btn-md "  (click)="modificaCassa()"> Modifica
      <fa-icon [icon]="faReply"  fixed="true"></fa-icon>
    </button>
  </div>
  <div class="col-md-1" *ngIf="presentaCassa === true">
    <button  class="btn btn-info btn-md "  (click)="chiudiCassa()"> Chiudi
      <fa-icon [icon]="faReply"  fixed="true"></fa-icon>
    </button>
  </div>

  <br>     -->

  <!--<div *ngIf="cassaIniziale.invalid && (cassaIniziale.dirty || cassaIniziale.touched)" class="alert-danger">   -->


    <!--
    <div *ngIf="cassaIniziale.errors.required" class="alert-danger">
        <span>importo è obbligatorio</span>
    </div>
    <div *ngIf="cassaIniziale < 0" class="alert-danger">
      <span>importo deve essere maggiore di zero</span>
    </div>
    <div *ngIf="cassaIniziale.errors?.pattern" class="alert-danger">
      <span>importo errato</span>
    </div>
  </div>   -->

<br>
  <div class="mb-3 row">
    <label class="col-sm-1 col-form-label"><strong>Cassa:</strong> </label>
    <label for="Cassa " class="col-sm-1 col-form-label">Contanti </label>
    <div class="col-sm-1">
      <input type="text" disabled class="form-control" id="contanti" [(ngModel)]="cassa.contanti" #contanti="ngModel" name="contanti" ngModel >
    </div>
    <label for="pos"  class="col-sm-1 col-form-label">Pos</label>
    <div class="col-sm-1">
      <input type="text" disabled class="form-control" id="pos" [(ngModel)]="cassa.pos" #pos="ngModel" name="pos" ngModel >
    </div>
    <label for="carte"  class="col-form-label" style="width : 135px" >carte Credito</label>
    <div class="col-sm-1">
      <input type="text" disabled class="form-control" id="carte" [(ngModel)]="cassa.carteCredito" #scarte="ngModel" name="carte" ngModel >
    </div>    <label for="serie"  class="col-sm-1 col-form-label">Bonifici</label>
    <div class="col-sm-1">
      <input type="text" disabled class="form-control" id="boniifici" [(ngModel)]="cassa.bonifici" #bonifici="ngModel" name="bonifici" ngModel >
    </div>
  </div>


<!--  SELECT sum(IFNULL(`cassas`.`contanti`,0)) as tContanti  FROM `cassas`   WHERE `cassas`.`idEvento` = 59;-->


<!--  Evento  -->


      <div class="row">
        <label for="descrizione" class="col-sm-2 col-form-label">Evento</label>
        <div class=" col-md-6">
          <input disabled #descrizione="ngModel"  [(ngModel)]="evento.descrizione" class="form-control" name="descrizione" id="descrizione"   style="text-transform : uppercase">
        </div>
        <div class=" col-md-2">
    <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
            <div>
              <input disabled #d_stato_evento="ngModel"  [(ngModel)]="evento.d_stato_evento" class="form-control" name="d_stato_evento" id="d_stato_evento" [style.color]="evento.stato == 2 ? 'red' : 'white'"  [style.background-color]="evento.stato == 2 ? 'yellow' : 'red'">
            </div>
          </div>
      </div>
      <br>
      <div class="row">
        <label for="localita" class="col-sm-2 col-form-label">Localita</label>
        <div class=" col-md-6">
          <input disabled #localita="ngModel"  [(ngModel)]="evento.localita" class="form-control" name="localita" id="localita"   style="text-transform : uppercase">
        </div>
        <div class=" col-md-2">
    <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
            <div>
               <input  disabled [(ngModel)]="evento.data" [ngModel]="evento.data | date:'dd/MM/yyyy'" #data="ngModel" class="form-control"  name="data" id="data">
            </div>
          </div>
      </div>
      <hr>
      <div class="row">
        <label for="cognome"  class="col-sm-2 col-form-label"><strong>Utente (*)</strong></label>
        <div class="col-sm-4">
          <input type="text" class="form-control lowertxt" id="cognome" [(ngModel)]="biglietto.cognome" #cognome="ngModel" name="cognome" ngModel  required minlength="4" maxlength="50" pattern="[0-9a-zA-Z_-&\s]*" placeholder="Inserire il cognome" style="text-transform : uppercase" >
        </div>
        <div *ngIf="cognome.invalid && (cognome.dirty || cognome.touched)" class="alert-danger">
          <div *ngIf="cognome.errors.required">
              <span>il cognome è obbligatorio</span>
          </div>
          <div *ngIf="cognome.errors.minlength">
             <span>il cognome deve essere di almeno {{cognome.errors.minlength.requiredLength }} caratteri</span>
          </div>
          <div *ngIf="cognome.errors.maxlength">
              <span>il cognome non può essere più lungo di {{cognome.errors.maxlength.requiredLength }} caratteri</span>
           </div>
           <div *ngIf="cognome.errors?.pattern">
            <span>cognome errato</span>
           </div>
        </div>

         <div class="col-sm-4">
          <input type="text" class="form-control lowertxt" id="nome" [(ngModel)]="biglietto.nome" #nome="ngModel" name="nome" ngModel  required minlength="4" maxlength="30" pattern="[0-9a-zA-Z_-&\s]*" placeholder="Inserire il nome" style="text-transform : uppercase" >
        </div>
        <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert-danger">
          <div *ngIf="nome.errors.required">
              <span>il nome è obbligatorio</span>
          </div>
          <div *ngIf="nome.errors.minlength">
             <span>il nome deve essere di almeno {{nome.errors.minlength.requiredLength }} caratteri</span>
          </div>
          <div *ngIf="cognome.errors.maxlength">
              <span>il nome non può essere più lungo di {{nome.errors.maxlength.requiredLength }} caratteri</span>
           </div>
           <div *ngIf="nome.errors?.pattern">
            <span>nome errato</span>
           </div>
        </div>
      </div>
      <hr>

      <div class="row" *ngIf="evento.idtipo == 2">
        <div class="col-sm-2">
          <label class="col-form-label"><strong>Posto (*)</strong></label>
        </div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-md-4">
               <div class="row">
                <label  class="col-sm-3 col-form-label"  [ngClass]="{correct: biglietto.settore > 0, inerror: biglietto.settore == 0 || biglietto.settore == 9999}">Settore</label>
                <div class="dropdown col-sm-6">
                  <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="settoreSelezionato" ngModel name="settorelog" id="settorelog" class="form-select" required (change)="onSelecSettore($event.target.value)" aria-label="Default select example">
                    <option selected value="9999"  >Seleziona il Settore</option>
                    <option *ngFor="let settore of eventosettori" [value]="settore.id"  class="form-control"  >{{settore.dsettore}}</option>
                  </select>
                </div>
                <div class="invalid-feedback">effettuare la scelta del Settore</div>
               </div>

            </div>
            <div class="col-md-3"   *ngIf="selectedSettore === true">
              <div class="row">
               <label  class="col-sm-2 col-form-label"  [ngClass]="{correct: biglietto.fila > 0, inerror: biglietto.fila == 0 || biglietto.fila == 9999}">Fila</label>
               <div class="dropdown col-sm-6">
                <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="filaSelezionata" ngModel name="filalog" id="filalog" class="form-select" required (change)="onSelecFila($event.target.value)" aria-label="Default select example">
                  <option selected value="9999"  >Seleziona la fila</option>
                  <option *ngFor="let fila of eventofile" [value]="fila.id"  class="form-control"  >{{fila.dfila}}</option>
                </select>
               </div>
               <div class="invalid-feedback">effettuare la scelta della Fila</div>
              </div>

           </div>
           <div class="col-md-5"   *ngIf="selectedFila === true">
            <div class="row">
             <label  class="col-sm-2 col-form-label"  [ngClass]="{correct: biglietto.posto > 0, inerror: biglietto.posto == 0 || biglietto.posto == 9999}">Posto</label>
             posto Selezionato: {{ postoSelezionato }}
             <div class="dropdown col-sm-10">
              <select class="btn btn-primary dropdown-toggle borde1" type="button" data-toggle="dropdown" [(ngModel)]="postoSelezionato" ngModel name="postolog" id="postolog" class="form-select" required (change)="onSelecPosto($event.target.value)" aria-label="Default select example">
                <option selected value="9999"  >Seleziona il Posto</option>
                <option *ngFor="let posto of eventoposti" [value]="posto.id"  class="form-control"  >{{posto.desposto}}</option>
              </select>
             </div>
             <div class="invalid-feedback">effettuare la scelta del Posto</div>
            </div>
          </div>
         </div>
        </div>
        <!--
        <div class="col-sm-10 borde4">
          <div class="col-md-4  borde1">
            <div class="row borde2">
              <label  class="col-sm-1 col-form-label"  [ngClass]="{correct: biglietto.settore > 0, inerror: biglietto.settore == 0 || biglietto.settore == 9999}">Settore</label>
              <div class="dropdown col-sm-2 borde">
                <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedSettore" ngModel name="settorelog" id="settorelog" class="form-select" required (change)="onSelecSettore($event.target.value)" aria-label="Default select example">
                  <option selected value="9999"  >Seleziona il Settore</option>
                  <option *ngFor="let settore of logsettori" [value]="settore.id"  class="form-control"  >{{settore.dsettore}}</option>
                </select>
              </div>
              <div class="invalid-feedback">effettuare la scelta del Settore</div>
            </div>
          </div>
          <div class="col-md-4  borde2">
            <div *ngIf="selectedSettore === true">
              <label for="tipopag" class="col-sm-1 col-form-label">Fila</label>
              <div class="dropdown col-sm-2">
                  <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedSettore" ngModel name="settorelog" id="settorelog" class="form-select" required (change)="onSelecSettore($event.target.value)" aria-label="Default select example">
                    <option selected value="9999"  >Seleziona la fila</option>
                    <option *ngFor="let settore of logfile" [value]="settore.id"  class="form-control"  >{{settore.dsettore}}</option>
                  </select>
              </div>
              <div class="invalid-feedback">effettuare la scelta della fila</div>
            </div>

          </div>
          <div class="col-md-4   borde3">
            <div *ngIf="selectedFila === true">

              <label for="tipopag" class="col-sm-1 col-form-label">Posto</label>
              <div class="dropdown col-sm-3">
                <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedSettore" ngModel name="settorelog" id="settorelog" class="form-select" required (change)="onSelecSettore($event.target.value)" aria-label="Default select example">
                  <option selected value="9999"  >Seleziona il posto</option>
                  <option *ngFor="let settore of logposti" [value]="settore.id"  class="form-control"  >{{settore.dsettore}}</option>
                </select>
              </div>
              <div class="invalid-feedback">effettuare la scelta del Posto</div>
            </div>
          </div>




        </div>  -->
      </div>

      <br>



      <div class="row">
        <div *ngIf="biglietto.id == 0" style="width: 140px" >
          <label  class="col-form-label"      style="color: red; font-weight: bold;" >in Emissione</label>
        </div>
         <div  class="col-sm-2" *ngIf="biglietto.id !== 0">
           <label for="tipob"  class="col-form-label">Biglietto Emesso</label>
         </div>

         <div class="col-sm-2">
          <input type="text" disabled class="form-control lowertxt" id="tipob" [(ngModel)]="tipobiglietto.d_tipo" #tipob="ngModel" name="tipob" ngModel  style="text-transform : uppercase" style="text-transform : uppercase"  style="text-align: center" [style.color]="getColor(tipobiglietto.d_tipo)" [style.background]="getBackground(tipobiglietto.d_tipo)">
        </div>

        <label for="serie"  class="col-sm-1 col-form-label">Serie</label>
        <div class="col-sm-1">
          <input type="text" disabled class="form-control lowertxt" id="serie" [(ngModel)]="tipobiglietto.serie" #serie="ngModel" name="serie" ngModel >
        </div>
        <label for="numero"  class="col-sm-1 col-form-label">Numero</label>
        <div class="col-sm-1" *ngIf="biglietto.id == 0">
          <input type="text" disabled class="form-control lowertxt" id="numero" [(ngModel)]="wtipobiglietto.ultimoemesso" #numero="ngModel" name="numero" ngModel >
        </div>

        <div class="col-sm-1" *ngIf="biglietto.id !== 0">
          <input type="text" disabled class="form-control lowertxt" id="numero" [(ngModel)]="biglietto.numero " #numero="ngModel" name="numero" ngModel >
        </div>
        <label for="importo"  class="col-sm-1 col-form-label">Importo  €</label>
          <div class="col-sm-1">    <!--  simbolo euro   <span>&#8364;</span>   -->
            <input type="text" disabled class="form-control " id="importo" [(ngModel)]="tipobiglietto.importo" #importo="ngModel" name="importo" ngModel >
         </div>
      </div>

      <!--
      <div class="row">
        <label for="bigliettoen" class="col-sm-2 col-form-label">Biglietto Emesso</label>
        <div class="col-md-1">
              <input  disabled [(ngModel)]="tipobiglietto.serie " #serie="ngModel" class="form-control"  name="serie" id="serie">
        </div>
        <div class="col-md-1">
          <input  disabled [(ngModel)]="biglietto.numero" #numbiglietto="ngModel" class="form-control"  name="numbiglietto" id="numbiglietto">
    </div>
<br>
<br>
     </div>     -->
     <br>

<!-- mod Pagamento:  ------   {{tipopagamenti | json}}  -->

<div class="row">
     <label for="tipopag" class="col-sm-2 col-form-label"><strong>Modalità di Pag.to (*)</strong></label>
    <div class="dropdown col-sm-3">
      <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedTipoPagamento" ngModel name="tipopag" id="tipopag" class="form-select" required (change)="onSelecTipopagam($event.target.value)" aria-label="Default select example">
        <option selected value="9999"  >Seleziona il tipo di Pagamento</option>
        <option *ngFor="let tpagam of tipopagamenti" [value]="tpagam.id"  class="form-control"  >{{tpagam.d_tipo_pagamento}}</option>
      </select>
    </div>
    <div class="invalid-feedback">effettuare la scelta del tipo pagamento</div>
</div>
   <br>


    <br>
      <div class="row" >
              <label for="importodainc" class="col-sm-2 col-form-label">Importo incassato</label>
              <div class="col-md-1">
                    <input  disabled [(ngModel)]="tipobiglietto.importo " #importodainc="ngModel" class="form-control"  name="importodainc" id="importodainc">
              </div>
              <div class="" style="width: '7px'">
                <input type="checkbox" id="confirmPagamento" name="confirPagamento" value="S" (change)="checkConferma($event)">
              </div>
              <div class="col-md-6" *ngIf="biglietto.modpag == 0">
                <label  class="col-sm-6 col-form-label" style="color: black; font-weight: bold; width: '500px'">Non effettuata selezione del tipo pagamento !!  </label>
              </div>
              <div class="col-md-6" *ngIf="biglietto.modpag == 1">
                <label  class="col-sm-6 col-form-label" style="color: red; font-weight: bold; width: '500px'">Confermare incasso in Contanti</label>
              </div>
              <div class="col-md-6" *ngIf="biglietto.modpag == 2">
                <label  class="col-sm-6 col-form-label" style="color: green; font-weight: bold; width: '500px'">Confermare incasso Pos</label>
              </div>
              <div class="col-md-6" *ngIf="biglietto.modpag == 6">
                <label  class="col-sm-6 col-form-label" style="color: violet; font-weight: bold; width: '500px'">Confermare incasso con Carta di Credito</label>
              </div>
              <div class="col-md-6" *ngIf="biglietto.modpag == 7">
                <label  class="col-sm-6 col-form-label" style="color: orange; font-weight: bold; width: '500px'">Confermare incasso con Carta di Credito</label>
              </div>
              <div class="col-md-6" *ngIf="biglietto.modpag == 9">
                <label  class="col-sm-6 col-form-label" style="color: rgb(172, 193, 37); font-weight: bold; width: '500px'">Confermare rilascio biglietto Gratis</label>
              </div>
      </div>
      <br>


        <!--  fine personaizzazione  -->
        <br>
<!--
        <div class="row col-md-12">

          <div *ngIf="!alertSuccess && isVisible" class="alert alert-danger" role="alert">

               <p>{{Message}}</p>
               <hr>
             </div>
             <div *ngIf="alertSuccess && isVisible" class="alert alert-success" role="alert">

               <p>{{Message}}</p>
             </div>
        </div>  -->



        <br>
        <div class="footer" >
          <div class="row col-sm-10 offset-2">

            <div class="col-sm-3" >
              <button  class="btn btn-info btn-md "  (click)="goback()"> Ritorna
                <fa-icon [icon]="faReply"  fixed="true"></fa-icon>
              </button>
            </div>

            <div class="col-sm-3"  >
              <button  [disabled]="fm.invalid" class="btn btn-success btn-md "  (click)="emettiBiglietto(biglietto)"> Conferma
                <fa-icon [icon]="faSave"  fixed="true"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
   </div>
</div>
<br>
<div class="row col-md-12">

  <!-- messaggi -->
    <div *ngIf="!alertSuccess && isVisible === true" class="alert alert-danger" role="alert">
      <p>{{Message}}</p><br>
     <!-- <p>{{Message1}}</p>  -->
     </div>

     <div *ngIf="alertSuccess === true && isVisible === true" class="alert alert-success" role="alert">
        <p>{{Message}}</p><br>
        <!--  <p>{{Message1}}</p>  -->
     </div>
</div>



<!--

<div class="mt-4 col-10 offset-2">

  <div class="card col-sm-10">




    <div class="card-body">
      <form name="formRegistrazione"  #formRegistrazione=ngForm >
        <div class="form-group row lowertxt">
              <label for="inputcognome3"  class="col-sm-3 col-form-label">Cognome</label>
              <div class="col-sm-9">
              <input type="text" name="cognome" class="form-control lowertxt" id="inputcognome3" placeholder="cognome" [(ngModel)]="form.cognome" required  minlength="5" maxlength="40" #cognome="ngModel" ngModel  style="text-transform : uppercase">
              <br>
              <div *ngIf="cognome.dirty && cognome.touched && cognome.invalid" class="alert alert-danger">
                      <div  *ngIf="cognome.errors.required">
                        il campo cognome è obbligatorio
                      </div>
                      <div  *ngIf="cognome.errors.minlength">
                        il campo deve essere lungo più di {{ cognome.errors.minlength.requiredLength }} caratteri
                      </div>
                      <div  *ngIf="cognome.errors.maxlength">
                        il campo non deve essere lungo più di {{ cognome.errors.maxlength.requiredLength }} caratteri
                      </div>
                </div>
              </div>
        </div>




        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" name="email" class="form-control lowertxt" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required email #email="ngModel" ngModel  style="text-transform : lowercase">
            <br>
            <div *ngIf="email.dirty && email.touched && email.invalid">
                    <div  *ngIf="email.errors.required"  class="alert alert-danger">
                      il campo email è obbligatorio
                    </div>
                    <div *ngIf="email.errors?.email"  class="alert alert-danger">
                      Email errata
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputtelefono3"  class="col-sm-3 col-form-label">telefono</label>
          <div class="col-sm-9">
            <input type="text" name="telefono" class="form-control" id="inputtelefono3" placeholder="telefono" [(ngModel)]="form.telefono" required #telefono="ngModel" minlength="10" maxlength="10" ngModel pattern="^[0-9]*$">
            <br>
            <div *ngIf="telefono.dirty && telefono.touched && telefono.invalid" class="alert alert-danger">
                  <div  *ngIf="telefono.errors.required">
                    il campo telefono è obbligatorio
                  </div>
                  <div  *ngIf="telefono.errors.pattern">
                    il campo telefono deve contenere solo numeri
                  </div>
                  <div  *ngIf="telefono.errors.minlength">
                    il campo deve essere lungo {{ telefono.errors.minlength.requiredLength }} caratteri
                  </div>
                  <div  *ngIf="telefono.errors.maxlength">
                    il campo non deve essere lungo più di {{ telefono.errors.maxlength.requiredLength }} caratteri
                  </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="form.cognome != '' && form.nome != '' && form.email != '' && form.telefono != '' ">
          <div class="col-sm-3">
            <button type="button" class="btn btn-success btn-sm-2" (click)="openSelezPosto(formRegistrazione)" >Sel. Posto
              <fa-icon [icon]="faPlus"  fixed="true"></fa-icon>
            </button>
          </div>
        </div>

        <hr>



        <hr>


        <div *ngIf="isVisible  && !alertSuccess" class="alert alert-danger" role="alert">
            <p>{{Message}}</p>
        </div>
        <div *ngIf="isVisible  && alertSuccess" class="alert alert-success" role="alert">
           <p>{{Message}}</p>
        </div>

        <hr>

        <div class="form-group row">
          <div class="col-sm-10 offset-3">
            <div class="row">
                <div class="col-sm-3"  *ngIf="registratoevento === false">
                  <button  class="btn btn-success btn-sm-2" (click)="nuovaPrenotazione()" >Nuova
                    <fa-icon [icon]="faPlus"  fixed="true"></fa-icon>
                  </button>
                </div>
                <div class="col-sm-3" *ngIf="registratoevento === false">
                  <button class="btn btn-primary" [disabled]="!formRegistrazione.valid && nrich != 0"  (click)="rilasciaRichieste()">Conferma
                    <fa-icon [icon]="faSave"  fixed="true"></fa-icon>
                  </button>
                </div>



            </div>


          </div>
        </div>

      </form>
    </div>
  </div>
</div>

-->


