.borde {
  border: 3px solid red;
}
.borde1 {
  border: 3px solid orange;
}
.borde2 {
  border: 3px solid green;
}
.borde3 {
  border: 3px solid blue;
}
.borde4 {
  border: 3px solid violet;
}
.borde5 {
  border: 3px solid rgb(133, 195, 33);
}






.correct {
  color: green;
  font-weight: bold;
}
.inerror {
  color: red;
  font-weight: bold;
}
