
<<td >{{i}}</td>
<td>{{evento.descrizione}}</td>
<td>{{evento.localita}}</td>
<td>{{evento.data | date: 'dd-MM-yyyy'}}</td>
<td>{{evento.ora}}</td>
<td>{{evento.nposti - evento.npostiAssegnati - evento.npostipren}}</td>

<div  class="cerchio" [ngClass]="{'normale': evento.nposti - evento.npostiAssegnati - evento.npostipren > 10,
                                  'ultimi': evento.nposti - evento.npostiAssegnati - evento.npostipren  < 6}">
<td>&nbsp;&nbsp;&nbsp;</td> </div>
<td> </td>
<td >
  <button class="btn btn-sm  btn-success" (click)="show(evento)">
      <fa-icon [icon]="faEye"  fixed="true"></fa-icon>
  </button>
</td>
<td >
<button class="btn btn-sm btn-success" (click)="prenota(evento)">
<fa-icon [icon]="faUserEdit"  fixed="true"></fa-icon>
</button>
</td>
